html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(151, 148, 148);
  color: #fff;
  text-align: center;
}

h1 {
  margin: 0;
}

.keys {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.key {
  position: relative;
  margin: 2px;
  width: 80px;
  height: 300px;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  text-align: center;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.07s;
}

.key:nth-child(1):before, .key:nth-child(2):before, .key:nth-child(4):before, .key:nth-child(5):before, .key:nth-child(6):before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 65%;
  width: 70%;
  height: 55%;
  border-radius: 0 0 3px 3px;
  background-color: #000;
  z-index: 1;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
}

.key.playing {
  background-color: #e6e6e6;
}

.key .sound {
  padding-top: 200px;
  display: block;
  font-size: 15px;
}

.creator-icon {
  color : rgb(151, 148, 148);
  font-size: 1px;
}
.creator-icon a {
  color : rgb(151, 148, 148);
}